<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <!-- first step includes name and days -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Name you routine</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name your rutine." formControlName="firstCtrl" required>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Create days</ng-template>
      <!-- days form -->
      <div class="days-container" [formGroup]="userForm">
        <ng-container *ngFor="let day of daysArray.controls; let i = index" formArrayName="days">
          <div [formGroupName]="i">
            <mat-form-field appearance="fill">
              <input matInput formControlName="dayName" placeholder="Day">
            </mat-form-field>
            <!-- exercise form -->
            <div>
              <div *ngFor="let subgroup of day.get('exercises')?.value; let idx = index;" formArrayName='exercises'
                [formGroupName]="idx">
                <mat-form-field appearance="fill">
                  <input matInput formControlName="exerciseName" placeholder="exercise">
                </mat-form-field>
              </div>
              <!-- exercise controls -->
              <button mat-icon-button color="primary" (click)="addExercise(i)">
                <mat-icon>add</mat-icon> Add a new exercise
              </button>
            </div>
            <!-- day controls -->
            <button mat-icon-button color="warn">
              <mat-icon class="delete-btn" (click)="deleteDay(i)">
                delete_forever</mat-icon>
            </button>
          </div>
        </ng-container>
        <button mat-icon-button color="primary" (click)="addDay()">
          <mat-icon>add</mat-icon> Add a new day
        </button>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>