.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

table {
  width: 100%;
}

button {
  margin-left: 5px;
}

mat-divider {
  margin: 10px;
}

.number-input {

  max-width: 30%;
}