<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <!-- first step includes name and days -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Name your rutine</ng-template>

      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>

    </form>
  </mat-step>

  <!-- second step add exercises to each day  -->


  <mat-step [stepControl]="rutineForm">
    <form [formGroup]="rutineForm">
      <div formArrayName="days">
        <div *ngFor="let day of days().controls; let dayIndex=index">
          <div [formGroupName]="dayIndex">
            <mat-form-field appearance="standard">
              <mat-label>Name your day</mat-label>
              <input matInput type="text" formControlName="firstName" placeholder="Day name">
            </mat-form-field>

            <button mat-icon-button (click)="removeDay(dayIndex)">
              <mat-icon matSuffix color="warn" (click)="removeDay(dayIndex)">delete</mat-icon>
            </button>

            <div formArrayName="exercises">
              <div *ngFor="let skill of exercises(dayIndex).controls; let exerciseIndex=index">
                <div [formGroupName]="exerciseIndex">
                  {{exerciseIndex}} Skill :
                  <mat-form-field appearance="standard">
                    <mat-label>Name your exercise</mat-label>
                    <input matInput type="text" formControlName="exerciseName" placeholder="Exercise Name">
                  </mat-form-field>
                  <button mat-icon-button (click)="removeDay(dayIndex)">
                    <mat-icon matSuffix color="warn" (click)="removeExercise(dayIndex,exerciseIndex)">delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <button type="button" (click)="addExercise(dayIndex)">
              Add Skill
            </button>
          </div>
        </div>
        <button mat-icon-button color="primary" (click)="addDay()">
          <mat-icon>add</mat-icon> Add a new day
        </button>
      </div>
      <button (click)="onSubmit()">submit</button>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>