<h1 class="mat-h1">Your week</h1>
<div class="dates-controller">
  <button class="dates-controller-btn" mat-icon-button (click)="moveBack()">
    <mat-icon>
      arrow_back_ios
    </mat-icon>
  </button>
  <button class="dates-controller-btn" mat-icon-button (click)="moveForward()">
    <mat-icon>
      arrow_forward_ios
    </mat-icon>
  </button>
</div>
<div class="dates-container">
  <ng-container *ngFor="let day of dates; let dayIndex = index">
    <mat-card [class.today]="day.isToday" [class.center]="dayIndex === 1">
      <mat-card-title>{{day.name}}</mat-card-title>
      <mat-card-subtitle>{{day.number}}, {{day.month}}</mat-card-subtitle>
      <mat-card-content>
        <h3 class="mat-h3">{{day.routineDay.dayName}}</h3>
        <p *ngIf="day.routineDay.dayName !== 'Nothing for Today.'">{{activeRoutine.routineName}}</p>

      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
<app-day-details-card *ngIf="dates[1].isWorkDay" [date]="dates[1]">
</app-day-details-card>