.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.dates-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20vh;
}

.dates-controller {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 130px;
  z-index: 2;

}

.dates-controller-btn {
  height: 150px;
  width: 5vw;
}

.center {
  width: 37vw;
  flex-shrink: 0;
  flex-grow: 2;
}

.today {
  background-color: #c2185b;
}

mat-card {
  min-width: 80px;
  flex-grow: 1;
  margin: 1%;

}

.mat-h1 {
  margin-left: 20px;
  margin-top: 20px;
}