mat-card {
  margin: 0px 10px 0px 10px;
}

table {
  width: 100%;
}

.day-pointer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.day-pointer mat-icon {
  transform: scale(3);
  margin: -10px 0px -10px 0px;
}

.today {
  background-color: #c2185b;
}