<mat-card>
  <mat-card-title-group>
    <mat-card-title>Your Routines</mat-card-title>
    <mat-card-subtitle>Small</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>

    <label id="example-radio-group-label">Pick One!</label>
    <mat-radio-group [(ngModel)]="selectedRoutine">

      <mat-radio-button class="example-radio-button" *ngFor="let routine of user?.routines"
        [value]="routine.routineName">
        {{routine.routineName}}
      </mat-radio-button>

    </mat-radio-group>
    <div>Your favorite season is: {{selectedRoutine}}</div>
  </mat-card-content>
</mat-card>
<!--
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>edit_note</mat-icon>
    <span>Modify</span>
  </button>
  <button mat-menu-item>
    <mat-icon color="warn">delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu> -->