.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;

}

mat-card mat-card-content,
form {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

button {
  align-self: flex-end;
}

.form-container .mat-form-field+.mat-form-field {
  margin-left: 8px;
}